@media screen {
    body {
        background-color: #00000000;
        color: #FFFFFFFF;
        font-family: monospace;
        font-size: 110%;
    }
    #permsPanel {
        resize: none;
        background-color: #121212;
        color: #FFFFFF;
        width: 100%;
        height: 400px;
    }
    div {
        height: 100%;
        padding: 5px;
    }
    label, select, input {
        margin: 5px;
    }
    .save {
        background-color: #454545FF;
        height: 30px;
        border: solid 3px #606060FF;
        border-radius: 10px;
        font-size: large;
        font-weight: bold;
        color: #FFFFFFFF;
        margin: 10px;
    }

    .save:hover {
        background-color: #606060FF;
        border: solid 3px #454545FF;
    }

    .del {
        background-color: #454545FF;
        height: 30px;
        border: solid 3px #606060FF;
        border-radius: 10px;
        font-size: large;
        font-weight: bold;
        color: #EE0000FF;
        margin: 10px;
    }

    .del:hover {
        background-color: #606060FF;
        border: solid 3px #454545FF;
    }
}