@media screen {
    body {
        background-color: #00000000;
        color: #FFFFFFFF;
        font-family: monospace;
        font-size: 110%;
    }
    #permsPanel {
        resize: none;
        background-color: #121212;
        color: #FFFFFF;
        width: 100%;
        height: 400px;
    }
    div {
        height: 100%;
        padding: 5px;
    }
    .option {
        background-color: #404040FF;
        width: 95%;
        height: 50px;
        border: none;
        border-radius: 10px;
        font-size: large;
        font-weight: bold;
        color: #FFFFFFFF;
        margin-bottom: 5px;
    }

    .option:hover {
        background-color: #454545FF;
        border: none;
    }
}