@media screen {
    body {
        background-color: #222222FF;
        color: #FFFFFFFF;
        text-align: center;
        font-family: monospace;
    }
    header {
        background-image: linear-gradient(#404040FF, #303030FF);
        position: fixed;

        display: grid;

        grid-template-columns: 10% 90%;
        grid-template-areas: 'logo title';

        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
    }
    main {
        margin: 10px;
        position: fixed;
        top: 10%;
        left: 0;
        right: 0;
        height: 80%;
        scroll-behavior: smooth;
    }
    footer {
        background-image: linear-gradient(#404040FF, #303030FF);
        position: fixed;
        height:7%;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .grid {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;

        grid-template-areas: "side main main main main"
                             "side main main main main"
                             "side main main main main";
    }

    #login {
        font-size: 2em;
        width: 100%;
        height: 100%;
    }

    #loginFrame {
        width: 40%;
        height: 30%;
        background-image: radial-gradient(#404040FF, #303030FF);
        border-radius: 10px;
        position: absolute;
        top: 35%;
        left: 30%;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    input {
        width: 95%;
    }

    .panel {
        background-image: radial-gradient(#404040FF, #303030FF);
        height: 100%;
        width: 100%;
        border-radius: 10px;

        grid-area: main;
    }

    article {
        text-align: left;
        font-size: 1.5em;
        width: 90%;
        padding-left: 5%;
    }

    .sidepanel {
        background-image: radial-gradient(#404040FF, #303030FF);
        height: 100%;
        width: 100%;
        border-radius: 10px;

        grid-area: side;
    }

    .logo{
        grid-area: logo;
        height: 7%;
    }

    .title {
        display: inline-block;
        grid-area: title;
    }

    .option {
        background-color: #404040FF;
        width: 95%;
        height: 50px;
        border: none;
        border-radius: 10px;
        font-size: large;
        font-weight: bold;
        color: #FFFFFFFF;
        margin-bottom: 5px;
    }

    .option:hover {
        background-color: #454545FF;
        border: none;
    }

    #logout{
        color: #EE0000FF;
    }
}